*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .heroMain{
    width: 100%;
} */
.heroContainer{
    position: relative;
}
.heroContainer img{
    width: 100%;
    display: block;
    text-align: center;
    background-size: cover;
}
.bannerText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}